*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}
body{
    background-color: #001;
    display: flex;
}

.profile{
    display: flex;
    align-items: center;
    gap: 30px;
}
.profile h2{
    font-size: 20px;
    text-transform: capitalize;
}

.img-box{
    width:  50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: solid 3px white;
    flex-shrink: 0;
}
.img-box img{
    width: 100%;
}
.menu{
    background-color: #123;
    width: 60px;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    transition: .5s;
}
.menu:hover{
    width: 260px;
}
ul{
    list-style: none;
    position: relative;
    height: 95%;
}
ul li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
    transition: .5s;
}
ul li a:hover, .active,.data-infa .box:hover ,th:hover{
    background-color: #ffffff55;
}
.log-out{
position: absolute;
bottom: 0;
width: 100%;
}
.log-out a {
    background-color: #a00;
}
ul li a{
    font-size: 30px;
}
.content{
    width: 100%;
    margin: 10px;
}
.title-info{
    background-color: #0481ff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin: 10px 0;
}
.data-infa{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.data-infa .box{
    background-color: #123;
    height: 150px;
    flex-basis: 150px;
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.data-infa .box i{
    font-size: 40px;
}
.data-infa .box .data{
    text-align: center;
}
.data-infa .box .data span{
    font-size: 30px;
}
table{
    width: 100%;
    text-align: center;
  
    border-spacing: 8px;
}
td ,th {
    border: solid 2px ;
    background-color: #123;
    height: 40px;
    border-radius: 8px;
}
th{
    background-color: #0481ff;
}
.price ,.count{
    padding: 6px;
    border-radius: 6px;
}
.price{
    background-color: green;
}
.count{
    background-color: gold;
    color: black;
}